<div class="grid grid-cols-3 gap-8">
  <app-product title="Producto1" [price]="12.00" img="https://picsum.photos/150/150?r=1" (addToCart)="fromChild($event)"></app-product>
  <app-product title="Producto2" [price]="12.00" img="https://picsum.photos/150/150?r=2" (addToCart)="fromChild($event)"></app-product>
  <app-product title="Producto3" [price]="12.00" img="https://picsum.photos/150/150?r=3" (addToCart)="fromChild($event)"></app-product>
  <app-product title="Producto4" [price]="12.00" img="https://picsum.photos/150/150?r=4" (addToCart)="fromChild($event)"></app-product>
  <app-product title="Producto5" [price]="12.00" img="https://picsum.photos/150/150?r=5" (addToCart)="fromChild($event)"></app-product>
  <app-product title="Producto6" [price]="12.00" img="https://picsum.photos/150/150?r=6" (addToCart)="fromChild($event)"></app-product>
</div>
